##  Pandas - Introduction 
### Data science and Data analytics ?
    ## Process of analysing large set of data points to get answer on questions related to data set
    ## Data Munging and Wrangling - Process of cleaning messy data to make data ready for further processing 

      
### Real worlds scenario 
    ## its harder to handle large data in Excel and perform filter and other operation 
    ##

In [2]:
# importing pandas module 
import pandas as pd

## Pandas - 
### Python tools for data science
#### Datatypes - pd.Series,  pd.DataFrame?

In [27]:
## Pandas Main feature 
pd?

### DataFrame - Main object in pandas which represents rows and columns( tabular like data)

## Creating data frame

In [62]:
# 3 ways to create DataFrame
# From Dict

weather_data = {
    'day': ['1/1/2019', '1/2/2019', '1/3/2019', '1/4/2019', '1/5/2019', '1/6/2019'],
    'Temperature':[34,12,24,25,23,21],
    'wind speed':[20,34,23,24,22,30],
    'event':['Rain', 'Snow', 'Rain', 'cloudy', 'Snow', 'Rain' ]
}

df1 = pd.DataFrame(weather_data)

In [63]:
print(type(df1.day))
print(type(df1))

<class 'pandas.core.series.Series'>
<class 'pandas.core.frame.DataFrame'>

In [64]:
print(df1)
print(df1.shape) ## shape of table
print(df1.head(3)) ## print top n rows

        day  Temperature  wind speed   event
0  1/1/2019           34          20    Rain
1  1/2/2019           12          34    Snow
2  1/3/2019           24          23    Rain
3  1/4/2019           25          24  cloudy
4  1/5/2019           23          22    Snow
5  1/6/2019           21          30    Rain
(6, 4)
        day  Temperature  wind speed event
0  1/1/2019           34          20  Rain
1  1/2/2019           12          34  Snow
2  1/3/2019           24          23  Rain

## Dealing with rows and columns

In [79]:
print(df1.columns) ## print columns
print('-'*100)
print(df1.Temperature) ## Print data of specific column
print('-'*100)
print(df1[['day', 'Temperature']]) ## print data of multiple columns
print('-'*100)
print (df1.day[:3])

Index(['day', 'Temperature', 'wind speed', 'event'], dtype='object')
----------------------------------------------------------------------------------------------------
0    34
1    12
2    24
3    25
4    23
5    21
Name: Temperature, dtype: int64
----------------------------------------------------------------------------------------------------
        day  Temperature
0  1/1/2019           34
1  1/2/2019           12
2  1/3/2019           24
3  1/4/2019           25
4  1/5/2019           23
5  1/6/2019           21
----------------------------------------------------------------------------------------------------
0    1/1/2019
1    1/2/2019
2    1/3/2019
Name: day, dtype: object

## Operation: min, max, std etc

In [86]:
print(df1.Temperature.max())
print(df1.describe()) ## Print statistcs of data

34
       Temperature  wind speed
count     6.000000    6.000000
mean     23.166667   25.500000
std       7.082843    5.357238
min      12.000000   20.000000
25%      21.500000   22.250000
50%      23.500000   23.500000
75%      24.750000   28.500000
max      34.000000   34.000000

## conditional selection

In [100]:
print(df1[df1.Temperature < 30]) 
print('-'*100)
print(df1[df1.Temperature == df1['Temperature'].min()])

        day  Temperature  wind speed   event
1  1/2/2019           12          34    Snow
2  1/3/2019           24          23    Rain
3  1/4/2019           25          24  cloudy
4  1/5/2019           23          22    Snow
5  1/6/2019           21          30    Rain
----------------------------------------------------------------------------------------------------
        day  Temperature  wind speed event
1  1/2/2019           12          34  Snow

## set index

In [104]:
df1.set_index('event')

             day  Temperature  wind speed
event
Rain    1/1/2019           34          20
Snow    1/2/2019           12          34
Rain    1/3/2019           24          23
cloudy  1/4/2019           25          24
Snow    1/5/2019           23          22
Rain    1/6/2019           21          30

In [ ]:

file = 'weather_data.csv'
df = pd.read_csv(file)

In [101]:
df['Temperature']

0     38
1     36
2     40
3     25
4     20
5     33
6     39
7     39
8     44
9     50
10    33
11    35
12    26
13    30
14    43
15    47
16    36
17    25
18    22
19    32
20    31
21    26
22    26
23    28
24    34
25    43
26    41
27    37
28    36
29    34
30    46
Name: Temperature, dtype: int64

In [19]:
type(df)

pandas.core.frame.DataFrame

In [24]:
dfdf['WindSpeedMPH']

0      8.0
1      7.0
2      8.0
3      9.0
4      5.0
5      4.0
6      2.0
7      4.0
8      8.0
9      NaN
10     NaN
11     6.0
12    10.0
13     5.0
14     5.0
15     7.0
16     6.0
17    12.0
18    11.0
19     6.0
20     6.0
21     NaN
22    16.0
23     6.0
24     3.0
25     7.0
26     7.0
27     5.0
28     8.0
29     7.0
30     5.0
Name: WindSpeedMPH, dtype: float64